@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.header {
    /* display: flex; */
    text-align: center;
    justify-content: space-evenly;
    position: fixed;
    top: 30px; 
    height: 50px;
    width: 70vw;
    font-size: 20px;
}

.logo {
    width: max-content;
}

.nav {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    width: max-content;
    margin-left: 70px;
}

.today, .archive {
    text-decoration: none;
    color: #2a2a2a;
    text-decoration: none;
    margin: 5px;
    opacity: 0.4;
    font-weight: 600;
}

.active {
    opacity: 1;
}

.userInfo {
    float: right;
    position: relative;
    font-family: "Poppins", sans-serif;
    width: 8vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.userImg {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
}

.userName{
    display: inline;
    margin: 0 8px;
    font-size: 18px;
}