.frame {
    width: 70vw;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.item {
    background-color: grey;
}

.item:nth-child(1) { width: 40%; }

.item:nth-child(2) {
    width: 60%;
    display: inline;
}

