.frame {
    width: 70vw;
    height: 80vh;;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.container:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 20px;
}

.logo {
    height: fit-content;
}

.turntable {
    position: relative;
    margin-top: 30px;
    animation: slide-left ease 1s ;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
  }

.turntable > img {
    /* width: 50vh; */
    width: 450px;
}

.playerArea {
    position: absolute;
    top: 0;
    left:0;
    width: 320px;
    height: 320px;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.resultLp {
    width: 320px;
    height: 320px;
    top: 7px;
    left: 48px;
    position: absolute;
}

.play {
    animation: rotate_image 6s linear infinite;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.resultLp > img:nth-child(1) {
    width: 320px;
    height: 320px;
}

.resultLpImg {
    position: absolute;
    top: 80px;
    left: 80px;
}


.resultLpImg > img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}


.playBtn {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: translateX(-5%) translateY(-5%);
    width: 34px;
    height: 34px;
    border-radius: 50px;
    background-color: #1AB26B;
    border: #1AB26B;
    cursor: pointer;
    opacity: 0.9;
    padding: 8px;
}



/* ====================== Right ========================*/

.container:nth-child(2) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.item {
    background-color: grey;
}

.item:nth-child(1) { width: 40%; }

.item:nth-child(2) {
    width: 60%;
    display: inline;
    justify-content: center;
}

.recommendBtn {
    width: 40%;
    height: 50px;
    background: #1AB26B;
    opacity: 0.8;
    box-shadow: 2px 4px 7px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    border: #1AB26B;
    margin-top: 20px;
    cursor: pointer;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    color: #FFFFFF;
    animation: slide-right ease 1s;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
  }

