.sentimentAreaUp {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    animation: slide-fade-in ease 1s;
}

.sentimentAreaDown {
    margin-top: 20px;
    animation: slide-fade-in-dropdown-animation ease-in-out 1s;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

@keyframes slide-fade-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
  }

@keyframes slide-fade-in-dropdown-animation {
    0% {
        opacity: 0;
        height: 0px;
    }
  
    100% {
        opacity: 1;
        height: 380px;
    }
  }

.result{
    height: 340px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 30px;
    padding: 20px 40px;
}


.wrapper {
    position: relative; 
    overflow: hidden;
    display: inline-block;
    width: 500px;
    height: 120px;
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 30px;
    padding: 20px 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    margin-left: 20px;
}

.label {
    /* width:100%; */
	text-align:center;
    font-weight:bold;
    float:left;
}

.textarea {
    width:100%;
    float:left;
    display:block;
    border:none;    
    outline:none;
    margin: 10px 0px;
    overflow-y: auto;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif; 
    resize: none;
    caret-color: #1AB26B;
}

.textarea::selection {
    color: rgb(33, 150, 243);
    background-color: rgb(255, 209, 233);
  }

.textarea::-webkit-scrollbar {
    width: 10px;
  }

.textarea::-webkit-scrollbar-thumb {
    background-color: rgb(33, 150, 243);
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
.textarea::-webkit-scrollbar-track {
    background-color: rgb(213, 225, 235);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.message {
    position: absolute;
    bottom: 25px;
    right: 90px;
    color: rgb(33, 150, 243);
}

.writeBtn {
    position: absolute;
    bottom: 15px;
    right: 20px;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #1AB26B;
    border: #1AB26B;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));  */
}

.waiting {
    position: absolute;
    bottom: 15px;
    right: 20px;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #1AB26B;
    border: #1AB26B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.waiting > path {
    stroke: white
}

.complete {
    position: absolute;
    bottom: 15px;
    right: 20px;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #1AB26B;
    border: #1AB26B;
    padding-bottom: 5px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));  */
}