

svg {
  display: relative;
  width: inherit;
}

text {
  font-weight: 500;
  font-size: large;
}  

rect {
    stroke: rgb(33, 33, 33);
}

path {
  stroke: rgb(33, 33, 33);
    fill-opacity: 0;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    /* animation: DrawLine 5s linear forwards; */
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: DrawLine;
    animation-name: DrawLine;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@keyframes DrawLine {
  0% {
    fill-opacity: 0;
  }
  100% {
      fill-opacity: 1;
      stroke-dashoffset: 0;
  }
}

  